body {
    color: rgb(19, 18, 18);
  background: -webkit-linear-gradient(90deg, #c99cd9,#54bae3,#7abf9d);background: linear-gradient(90deg, #c99cd9,#54bae3,#7abf9d);
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

header {
    border-bottom: solid 2px rgb(42, 122, 228);
    padding: 20px;
    font-size: 32px;
    color: rgba(6, 18, 35, 0.773);
}

.chamada {
    background: rgba(12, 83, 65, 0.899);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 20px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid #00467F;
}
b
.categoria h2 {
    color: rgba(30, 35, 34, 0.682);
}

